<!DOCTYPE html>


<html>

<head>
    <script src="jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Google Sheets API Quickstart</title>
    <meta charset="utf-8" />
</head>



<div id="orderform">
    <select id="webselect" v-model="web" v-on:change="formchange()" name="Gsheet"> 
　<option value="yahoo">雅虎</option>
　<option value="pchomet">PC梓</option>
　<option value="pchomed">PC大</option>
　<option value="shopee">蝦皮</option>
　<option value="ruten">露天</option>
　<option value="songuo">松果</option></select>
    <select id="GsheetCol" v-model="gsheetcol"> 
　<option value="K">K</option>
　<option value="L">L</option>
　<option value="M">M</option>
　<option value="N">N</option></select>
    <!--    選擇後自動隱藏不要的input-->
    <br>
    <input v-if="orderID_display" type="search" v-model="orderID" placeholder="訂單編號">
    <input v-if="orderAccount_display" type="search" v-model="orderAccount" placeholder="帳號"><br>
    <input type="search" v-model="orderCustomer" placeholder="姓名">
    <input type="search" v-model="orderTel" placeholder="電話"><br>
    <input v-if="orderDiscount_display" type="search" v-model="orderDiscount" placeholder="折扣">
    <input v-if="orderFee_display" type="search" v-model="orderFee" placeholder="手續費"><br v-if="allnon">
        <select v-model="orderShip" > 
　<option value="7-11">7-11</option>
　<option value="全家">全家</option>
　<option value="新竹">新竹</option>
　<option value="神行">神行</option>
　<option value="大榮">大榮</option>
　<option value="萊爾富">萊爾富</option></select>
    <input type="search" v-model="orderShipPrice" placeholder="運費"><br>
    <span>{{orderPrice}}</span>

</div>
<div id="productlist" @click="splitpaste">
    <section style="padding-top:10px;" is="product-input" :comp_id="pdt.id" v-for="pdt in products"></section>

    <!--            自動新增新的商品蘭 發票欄位???-->
    <!--            可互算-->
    <!--            處理google write →新增出貨紀錄→扣數量-->
    <!--            回傳商品剩餘數量-->
    <!--            出現刪除訂單紐及下一筆案紐 可以刪除剛剛新增的訂單，下一筆按鈕可以清除輸入框及隱藏刪除訂單按鈕、下一筆按鈕-->

</div>
<div id="buttonEvent">
    <button @click="test">送出</button>
    <button @click="test">刪除</button>
    <button>下一筆</button>
</div>
    <div id="test">
    <input type="text" v-model="data1" @change="cal1">
    <input type="text" v-model="data2" @change="cal2">
    <input type="text" v-model="data3" @change="cal3">
    </div>









<footer>
    <script src="gapi.js"></script>
    <script src="JS.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>

</footer>
</body>

</html>
